<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="appShop" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ww\C#\Новая папка (2)\Новая папка\Shop\Shop.DataAcces\Database.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Shop.Properties.Settings.DatabaseConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\ww\C#\Новая папка (2)\Новая папка\Shop\Shop.DataAcces\Database.mdf&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>